:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p-card {
    width: 90vw;
    max-width: 25rem;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      input,
      p-password {
        width: 100%;
      }
    }
  }

  .login {
    line-height: 2em;
  }
}
