:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p-card {
    width: 90vw;
    max-width: 25rem;
    padding: 1em;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .login {
    line-height: 2em;
  }
}
