:host {
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding: 1rem;
  min-height: 0;
  height: 100%;

  .messages,
  .actions {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
  }

  .messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    overscroll-behavior: contain;

    &:has(p-progressSpinner) {
      justify-content: center;
      align-items: center;
    }
  }

  .actions {
    padding-block: 1rem;

    input {
      height: 3rem;
    }
  }
}

:host.mobile-view {
  .actions {
    padding: 0;
  }
}
