@if (chat(); as chat) {
  @let user1 = chat.users[0];
  @let user2 = chat.users[1];
  <div class="messages">
    @for (message of messages(); track message._id) {
      <app-message [message]="message" [user]="user1._id === message.senderId ? user1 : user2" [ownMessage]="message.senderId === ownUserId()" />
    }
  </div>
}
<p-divider />
<form class="actions" [formGroup]="form" (ngSubmit)="sendMessage()">
  <input formControlName="message" pInputText placeholder="Type a message" />
  <p-button [type]="'submit'" icon="pi pi-send" label="Send" [disabled]="!chat() || form.invalid" [loading]="sendingMessage()" [style]="{ height: '3rem', 'border-radius': 'var(--border-radius)' }" />
</form>
