@if (conversation(); as conversation) {
  <div class="messages">
    @for (message of messages(); track message._id) {
      <app-message [message]="message" [user]="conversation.users[0]._id === message.senderId ? conversation.users[0] : conversation.users[1]" [ownMessage]="message.senderId === ownUserId()" />
    }
  </div>
}
<p-divider />
<div class="actions">
  <input pInputText [formControl]="messageInput" placeholder="Type a message" />
  <button pButton icon="pi pi-send" [disabled]="!conversation() || !messageInput.value" [loading]="sendingMessage()" (click)="sendMessage()">Send</button>
</div>
