:host {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
  padding-inline: 1rem;
  height: 5rem;
  cursor: pointer;

  .last-updated {
    font-size: 0.8rem;
    margin: 0;
  }

  &.selected {
    background-color: var(--primary-color);

    ::ng-deep {
      .last-updated,
      .name,
      .description {
        color: var(--primary-color-text) !important;
      }
    }
  }

  &:not(.selected):hover {
    background-color: var(--surface-hover);
  }
}
