:host {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
  min-height: 0;

  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .user-suggestion {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr auto;
      column-gap: 0.5rem;
      align-items: center;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    overscroll-behavior: contain;

    > app-chat-preview {
      flex-shrink: 0;
    }

    .empty {
      color: var(--surface-500);
      font-weight: 200;
      text-align: center;
    }
  }
}
