<div class="header">
  <p-autoComplete
    [ngModel]="searchInput | async"
    [suggestions]="userSuggestions()"
    placeholder="Search"
    field="_id"
    [delay]="500"
    (completeMethod)="searchInput.next($event.query)"
    (onSelect)="createChat($event)"
  >
    <ng-template let-user pTemplate="item">
      <div class="user-suggestion">
        <app-avatar class="avatar" [user]="user" [description]="user.email" />
      </div>
    </ng-template>
  </p-autoComplete>
</div>
<div class="list">
  @if (loading()) {
    @for (item of [0, 0, 0, 0]; track $index) {
      <ng-container *ngTemplateOutlet="skeleton" />
    }
  } @else {
    @if (addingChat()) {
      <ng-container *ngTemplateOutlet="skeleton" />
    }
    @for (chat of chats(); track chat._id) {
      @defer (on viewport) {
        <app-chat-preview [ngClass]="{ selected: selectedChat()?._id === chat._id }" [chat]="chat" (click)="selectChat(chat)" />
      } @placeholder {
        <div>
          <ng-container *ngTemplateOutlet="skeleton" />
        </div>
      }
    } @empty {
      <div class="empty">Start a conversation</div>
    }
  }
</div>

<ng-template #skeleton>
  <p-skeleton [style]="{ width: '100%', height: '5rem' }" />
</ng-template>
