@import 'primeng/resources/primeng.css' layer(primeng);
@import 'primeicons/primeicons.css' layer(primeng);
@import './app/core/styles/prime.scss' layer(custom-prime);
@import '@angular/cdk/overlay-prebuilt.css' layer(angular-cdk);

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--surface-ground);
}

* {
  box-sizing: border-box;
}
