@import 'primeng/resources/primeng.css' layer(primeng);
@import 'primeicons/primeicons.css' layer(primeng);
@import './app/core/styles/prime.scss' layer(custom-prime);

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--surface-ground);
}

* {
  box-sizing: border-box;
}
