:host {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  justify-content: flex-start;

  app-avatar {
    transform: translateX(-2.5rem);
  }

  .message {
    padding: 0.75rem 1rem;
    flex-grow: 1;
    max-width: 50rem;
  }

  .additional-info {
    font-size: 0.75rem;
    color: var(--surface-500);
  }

  &.own-message {
    justify-content: flex-end;

    app-avatar {
      transform: translateX(2.5rem);
    }

    .message {
      background-color: var(--primary-200);
      text-align: end;
    }

    .additional-info {
      text-align: end;
    }
  }
}

p {
  margin: 0;
}
